{% extends 'base.html.twig' %}

{% block title %}
    Edit Article
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {{ include('layouts/back_to_home_href.html.twig') }}
{% endblock %}
