{% extends 'base.html.twig' %}

{% block title %}Today's Articles{% endblock %}

{% block body %}

    {% if not articles %}
        <p>No articles to display</p>
    {% endif %}

        <table id="articles" class="table table-striped">
            <thead>
                <tr>
                    <th>Article Title</th>
                    <th>Actions</th>
                </tr>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="{{  path('article_show', { id: article.id }) }}" class="btn btn-dark">Show</a>
                            <a href="{{  path('article_edit', { id: article.id }) }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

