{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <h2>{{ article.title }}</h2>

    <p>{{ article.body }}</p>

    {{ include('layouts/back_to_home_href.html.twig') }}
{% endblock %}
